/* 
font-size
96 78 72 60 55 36 30 24 20 18 16 14 12.8
 */
 /* 
 spaces
 
  */
  /* 
  color
  primery: #6a3fb6
  primery-lint: #8f68d3 #a885e6 #ccb7f1
  secondry: #d0af87
  secondry-lint: #ecddcb
  footer: #333333
  */
