# folder
components/
img/svg/
node_modules/
page/
layout/
# file
package.json
package-lock.json
tailwind.config.js
css/style.input.css

img/product.min.png
img/team-group.jpg
img/team-people.jpg
img/team-people2.jpg
img/team-people3.jpg
img/service2.jpg
img/service.jpg
